# Переменные окружения
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Базы данных
*.db
*.sqlite
*.sqlite3

# Логи
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
